.vscode/**
.vscode-test/**
.claude/**
src/**
test_workspaces/**
out/test/**
.gitignore
.yarnrc
CLAUDE.md
CONTRIBUTING.md
eslint.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
images/icon.svg
